node_modules/
.env
npm-debug.log*
.DS_Store
.venv
__pycache__
memory-garden/uploads/
memory-garden/audio/
memory-garden/data/

memory-garden/__pycache__/
.pyc
docs/

data/
google-cloud-sdk/
*.tar.gz
*.mp3
